* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar starts---------------------------------- */
.navbar {
  /* background-color: rgb(184, 45, 45); */
  /* border: 1px solid gray; */
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.img-logo-left {
  height: 48px;
  width: 130px;
}
.img-logo-right {
  height: 70px;
  width: 100%;
}
.right {
  display: flex;
}

.right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  /* border: 1px solid red; */
  align-items: center;
}
.right ul li {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 16px;
  color: gray;
}

.right ul li img {
  width: 25px;
  margin-right: 5px;
}
/* banner starts here------------------------------------- */

.banner {
  background-image: url("./images/web-new-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-box {
  padding: 1rem;
  height: 140px;
  border-radius: 20px;
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  /* border: 1px solid rgb(255, 0, 0); */
}
.banner-box-top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;
}
.banner-box-services {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  font-size: 18px;
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-content: center;
}

.banner-box-services div {
  margin: 2px 10px;
  padding: 6px 3px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.banner-box-services div:hover {
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 10px;
}

.banner-text p {
  margin-right: 2rem;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.banner-box-services div img {
  width: 2.5rem;
}
.banner-box-bottom {
  display: flex;
  justify-content: center;
  height: 100px;
  width: auto;
  /* background-color: rgba(190, 57, 57, 0.644); */
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  padding: 2px;
  margin: 4px;
}
.btn {
  border-radius: 1px;
  background-color: rgba(221, 219, 219, 0.479);
  height: 100%;
  width: 10%;
  font-size: 18px;
  padding: 20px 5px;
}
.search-btn {
  background-color: #dc635b;
  font-size: 22px;
  padding-left: 25px;
  border-radius: 0 10px 10px 0;
}
.search-btn:hover {
  background-color: #d83f34;
}

/* ----------------card section------------------------- */
.card-container {
  height: auto;
  /* background-color: #d83f34; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.card-rapper {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.card-container h2 {
  padding: 10px 0px 10px 20px;
}

.card img {
  width: 18rem;
  border-radius: 20px;
}
.text-h2 {
  padding: 10px 0px 10px 20px;
}
.text-p {
  padding: 10px 0px 10px 25px;
  /* background-color: antiquewhite; */
  font-size: 18px;
  color: gray;
}

/* -----------------------------small cards starts-------------------------- */
.small-cards-container {
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 92%;
  margin: 0 auto;
  flex-direction: row;
  padding: 10px 0px 10px 25px;
  gap: 1px;
}

.small-card {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 0px 5px;
  padding: 8px;
}
.small-card div img {
  margin: 5px;
}
.small-card-content b {
  font-size: 14px;
}
.small-card-content p {
  color: black;
  margin-top: 5px;
  font-size: 14px;
}
/* -----------------------bus ticket section -----------------*/
.ticket-container {
  background-color: aquamarine;
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 92%;
  margin: 0 auto;
  flex-direction: column;
  padding: 10px 0px 10px 25px;
  gap: 1px;
}
.ticket-para {
  padding: 1em 0;
}
.ticket-cards {
  height: auto;
  width: 100%;
  background-color: #d83f3438;
}
.ticket {
  height: 20rem;
  width: 22%;
  border: 1px solid rgb(128, 0, 0);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ticket-top {
  margin: 20% 0px 20px 0px;
  display: flex;
  justify-content: center;
}

#ticket-img {
  background-image: url("./images/APSRTC-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  opacity: 0.9;
}

.ticket-btn {
  background-color: transparent;
  color: #b61106;
  border: 1px solid red;
  border-radius: 8px;
  border-color: #d42f23;
  padding: 0.5rem 1rem;
}
.ticket-bottom{
  color: white;
  margin: 8px;
}
/* -------working on class system--------- */